:root {

    /*main palette*/
    --palette-c1: rgb(133 177 209 / 1);
    --palette-c2: #30414D;
    --palette-c3: #5D778A;
    --palette-c4: #BBDDF3;

    /*custom colors*/
    --cc1: #fff;
    --cc2: #2C3942;
    --schedules-background: rgb(93 119 138 / .45);

    /*font sizes*/
    --fs-p: .9rem;
    --fs-h1: 6rem;
    --fs-h2: 2.8125rem;
    --fs-h3: 2.6125rem;
    --fs-h4: 2.2125rem;
    --fs-h5: 1.6125rem;
    --fs-h6: 1.125rem;

    /*font families*/
    --ff-p: 'Nunito', sans-serif;
    --ff-h1: 'Nunito', sans-serif;
    --ff-h2: 'Nunito', sans-serif;
    --ff-h3: 'Nunito', sans-serif;
    --ff-h4: 'Nunito', sans-serif;
    --ff-h5: 'Nunito', sans-serif;
    --ff-h6: 'Nunito', sans-serif;

    /*font weights*/
    --fw-p: 100;
    --fw-h1: 400;
    --fw-h2: 200;
    --fw-h3: 100;
    --fw-h4: 100;
    --fw-h5: 100;
    --fw-h6: 100;

    /*other global stylings*/

}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GENERAL STYLING ~~~~~*/
/*common general styles*/
*, *::before, *::after {box-sizing: border-box;}
body {margin: 0; padding: 0;}

/*just apply general styling to common tags*/
p {font-size: var(--fs-p); font-family: var(--ff-p); font-weight: var(--fw-p);}
h1 {font-size: var(--fs-h1); font-family: var(--ff-h1); font-weight: var(--fw-h1);}
h2 {font-size: var(--fs-h2); font-family: var(--ff-h2); font-weight: var(--fw-h2);}
h3 {font-size: var(--fs-h3); font-family: var(--ff-h3); font-weight: var(--fw-h3);}
h4 {font-size: var(--fs-h4); font-family: var(--ff-h4); font-weight: var(--fw-h4);}
h5 {font-size: var(--fs-h5); font-family: var(--ff-h5); font-weight: var(--fw-h5);}
h6 {font-size: var(--fs-h6); font-family: var(--ff-h6); font-weight: var(--fw-h6);}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HELPER CLASSES ~~~~~*/
.row {display: flex; flex-direction: row;}
.column {display: flex; flex-direction: column;}
.js-c {justify-self: center;}
.jc-c {justify-content: center;}
.js-l {justify-self: left;}
.js-r {justify-self: right;}
.jc-sb {justify-content: space-between;}
.bolder {font-weight: bolder;}
.italic {font-size: italic;}
.w-100 {width: 100%;}
.ta-c {text-align: center;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN ~~~~~*/
.main {
    /*background: var(--palette-c1);*/
    background: url('./schedules-background.png') no-repeat center local;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*~~~~~~~~~~~~~~~~~*/
/*~~auth container~*/
/*~~~~~~~~~~~~~~~~~*/
.auth-container {
    background: var(--palette-c2);
    border: 1px solid var(--palette-c4);
    border-top: none;
    box-shadow: 3px 0 10px #000;
    min-width: 200px;
    width: 15%;
    max-width: 500px;
    height: 18vh;
    border-radius: 0 0 40px 40px;
    transition: transform 1s ease-in-out;
    transform: translate(0, -40%);
    justify-content: flex-end;
}
.auth-container:hover {
    transform: translate(0, 0);
}
.auth-container:hover .auth__arrow {
    transform: rotate(-180deg);
}

/*button style*/
.btn {
    padding: .4em .8em;
    text-transform: uppercase;
    font-size: var(--fs-h6);
    font-family: var(--ff-h6);
    font-weight: var(--fw-h1);
    border: none;
    border-radius: 6px;
}
.auth__btn {
    margin: 0 auto 6% auto;
    max-width: 80%;
}
.login_btn {
    color: #fff;
    background-color: #0088E0;
    font-size: var(--fs-p);
}
.logout_btn {
    color: #fff;
    background-color: #0088E0;
}

.auth__user {
    width: 80%;
    max-height: 35%;
    margin: 0 auto 6% auto;
    display: flex;
}
.user__username {
    width: 100%;
    height: 40%;
    color: var(--palette-c4);
    font-size: var(--fs-h6);
    font-family: var(--ff-h6);
    font-weight: var(--fw-h1);
    margin: auto 0;
    padding: 0;
}
.user__logo {
    height: 65%;
    border-radius: 50%;
    margin: auto 0;
    padding: 0;
    border: 2px solid var(--palette-c4);
}
/*arrow*/
.auth__arrow {
    transition: transform .8s ease-in-out;
    max-height: 15%;
    content: url('https://api.iconify.design/bi/arrow-down-circle.svg?color=white');
}


/*~~~~~~~~~~~*/
/*~~schedule~*/
/*~~~~~~~~~~~*/
.schedules-container {
    margin-top: 10vh;
    width: 95%;
    max-width: 1500px;
    height: 60%;
    background: var(--schedules-background);
    border-radius: 5px;
}

@media (max-width: 500px) {
    .table__header th {
        visibility: hidden;
        text-align: center;
    }
    .table__header th::first-letter {
        visibility: visible;
    }
}

.schedules-table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

.table__header {
    background-color: var(--cc2);
}
.table__header tr {
    height: 10%;
    width: 100%;
}
.table__header th {
    color: var(--cc1);
    font-size: var(--fs-h5);
    font-family: var(--ff-h6);
    font-weight: var(--fw-h1);
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    text-align: center;
}
